// Base layout mod
// --------------------------------------------------

html {
  background-color: $gray-lighter;
}

body {
  max-width: $global-max-width;
  background-color: white;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}

.container-fluid > .row, .tab-pane > .row {
  margin: 0;
}

.outer {
  overflow-x: hidden;
  @media (min-width: $global-max-width) {
    overflow-x: visible;
  }
}

.navbar .container-fluid {
  padding: 0;
  @media (min-width: $screen-md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-fluid>.navbar-header {
  margin: 0;
}

.navbar .navbar-header {
  padding: 0;
  @media (min-width: $screen-md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.slick-active, .slick-slide {
  &:focus {
    outline: 0;
  }
}
