// Base layout mod
// --------------------------------------------------

html {
  background-color: $gray-lighter;
}

body {
  max-width: $global-max-width;
  background-color: white;
  margin: 0 auto;
  position: relative;
}

.container-fluid > .row, .tab-pane > .row {
  margin: 0;
}

.outer {
  overflow-x: hidden;
  @media (min-width: $global-max-width) {
    overflow-x: visible;
  }
}

.btn-action {
  @include button-variant($btn-action-color, $btn-action-bg, $btn-action-border);
}
