// Base layout mod
// --------------------------------------------------

html {
  background-color: $gray-lighter;
}

body {
  max-width: $global-max-width;
  background-color: white;
  margin: 0 auto;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}

.container-fluid > .row, .tab-pane > .row {
  margin: 0;
}

.outer {
  overflow-x: hidden;
  @media (min-width: $global-max-width) {
    overflow-x: visible;
  }
}

.navbar .container-fluid {
  padding: 0;
  @media (min-width: $screen-md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-fluid>.navbar-header {
  margin: 0;
}

.navbar .navbar-header {
  padding: 0;
  @media (min-width: $screen-md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.slick-active, .slick-slide {
  &:focus {
    outline: 0;
  }
}

.label {
  font-size: 36%;
  margin-right: 0.5em;
}

.tooltip {

  &.top .tooltip-arrow { border-top-color: $brand-primary; }
  &.right .tooltip-arrow { border-right-color: $brand-primary; }
  &.bottom .tooltip-arrow { border-bottom-color: $brand-primary; }
  &.left .tooltip-arrow { border-left-color: $brand-primary; }

  .tooltip-inner {
    background: $brand-primary;
    color: white;
  }
}

.popover {
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.1);
}

.modal.fade .modal-dialog {
  -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    -o-transform: translate(0, 50%);
    transform: translate(0, 50%);
  transition: transform 0.6s $cubic;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 25%);
    -ms-transform: translate(0, 25%);
    -o-transform: translate(0, 25%);
    transform: translate(0, 25%);
}

.modal-content {
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.1);
}

.modal-backdrop {
  background-color: $black;
}

.modal-backdrop.in {
    opacity: 0.75;
    filter: alpha(opacity=75);
}
