// Nav Styles
// --------------------------------------------------


.dropdown-menu {
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s $cubic;

  @media (min-width: $screen-sm) {
    margin-top: -2em !important;
  }
}

.dropdown.open>.dropdown-menu {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s $helium;

  @media (min-width: $screen-sm) {
    margin-top: -0.75em !important;
  }
}

.main-nav .navbar-btn-group {
  margin-bottom: 2em;
  @media (min-width: $screen-sm) {
    margin-bottom: 0;
  }
}

.dropdown.open {
  overflow-x: visible;
}

.collapse.in {
  overflow-x: visible;
  .nav {
    overflow-x: visible;
  }
  .dropdown-menu {
    padding: 1em 0;
    border-radius: $border-radius-base;
    background-color: $gray-lighter;
    margin: 0 -1.75em;
  }
}

.navbar-naked .collapse.in, .navbar-naked .collapsing {
  border-bottom: 1px solid $navbar-default-border;
}

.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  max-height: 100vh;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;

  @media (min-width: $screen-sm) {
    // overflow-y: hidden;
    // height: 6.25rem;
    height: $navbar-height;
  }

  &.navbar-naked {
    box-shadow: 0px 0px 0px 0px transparent;
    border: 0;
  }

  &.navbar-default {
    box-shadow: 0px 3px 0px -2px rgba(0,0,0,0.1);
    border: 0;
    &::before, &::after {
      content: "";
      position: absolute;
      top: 0;
      background-color: white;
      width: 50vw;
      z-index: 9999;
      box-shadow: 0px 3px 0px -2px rgba(0,0,0,0.1);
      border: 0;

      // border-bottom: 1px solid $navbar-default-border;
    }
  }

  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    // background-color: white;
    background-color: transparent;
    width: 50vw;
    // height: calc(100% + 1px);
    height: 100%;
    z-index: 9999;
    transition: all .2s $cubic;
    // border-bottom: 1px solid transparent;
  }

  &::before {
    right: calc(-50vw + 4px);
  }

  &::after {
    left: calc(-50vw + 4px);
  }

  .navbar-header {
    z-index: 3;
  }

  .nav > li > a {
    padding: 1rem 0;

    @media (min-width: $screen-sm) {
      padding: 2.1rem 0;
    }
  }

  .nav > li {
    padding-left: 20px;
  }

  @media (min-width: $screen-sm) {
    .navbar-btn {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .navbar-btn-group > li:nth-child(2) {
      padding-left: 15px;
    }
  }

  .navbar-brand {
    // height: 6.25rem;
    height: $navbar-height;
    // padding: (6.25rem / 8) 0 ;
    padding: ($navbar-height / 8) 0;
  }

}

.navbar-toggle {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.05);
  border-width: 2px;
  transition: all 0.3s $cubic;
  @include button-var($btn-default-color, $btn-default-bg, $btn-default-border);

  &:hover {
    transition: all 0.3s $cubic;
    transform: translateY(-3px);
    box-shadow: 0px 6px 3px 0px rgba(0,0,0,0.05);
  }

  &:active,
  &.active {
    //custom styles
    transform: translateY(0);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  }
}

.nav .dropdown.open {
  a:focus {
    background: transparent;
  }
}

.navbar-naked .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a {
  background: transparent;
}

.navbar-nav>li>.dropdown-menu {
  border-radius: $border-radius-base;
}

.page-nav-outer {
  display: none;
  height: $navbar-height;
  overflow-y: hidden;
  position: absolute;
  z-index: -1;

  @media (min-width: $screen-sm) {
    display: block;
  }
}

.page-nav-inner {
  width: 100%;
  height: $navbar-height;
  display: block;
  transition: all .2s $cubic;
}

@media (min-width: $screen-sm) {

  .main-nav {
    transition: all .2s $cubic;

    &.nav-down {
      opacity: 1;
      transform: translateY(0);
    }

    &.nav-up {
      opacity: 0;
      transform: translateY(-$navbar-height);
    }
  }

  .page-nav-inner {
    visibility: visible;
    z-index: -1;
  }

  .page-nav-outer {

    &.nav-down {
      .page-nav-inner {
        opacity: 0;
        transform: translateY($navbar-height);
      }
    }

    &.nav-up {
      z-index: 1;

      .page-nav-inner {
        opacity: 1;
        transform: translateY(0);
      }
    }
    .page-nav-list {
      li:first-child {
        padding-left: 0
      }
    }

    .navbar-right {
      position: absolute;
      right: 8.25rem;
    }
  }
}
