.slick-slider {
  cursor: -webkit-grab;
  cursor: -moz-grab;

  &:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
  }

  &.slick-images {
    min-height: 45vw;
    height: 60vh;
    max-height: 60vh;
    position: relative;

    @media (min-width: 1400px) {
      min-height: 50vw;
      height: 65vh;
      max-height: 65vh;
    }

    .slick-list {
      height: 100%;
    }

    .slick-track {
      height: 100%;
    }

    img {
      width: 100%;
    }
  }

  .slick-arrow {
    position: absolute;
    z-index: 2;
  }

  .slick-prev, .slick-next {
    height: 100%;
    color: transparent;
    width: 4em;
    -webkit-appearance: none;
    background: rgba(0,0,0,.1);
    border: 0;

    &:focus, &:active {
      outline: 0;
    }
  }

  .slick-prev {
    left: 0;
    bottom: 0;
  }

  .slick-next {
    right: 0;
    bottom: 0;
  }
}
