// Homepage
// --------------------------------------------------

.hero {
  margin: 0;

  &-page {
    position: relative;
    display: inline-table;
    height: 40vh;
    min-height: 25vw;
    max-height: 40vh;
    width: 100%;

    @media (min-width: 1400px) {
      height: 35vh;
      min-height: 20vw;
      max-height: 35vh;
    }
  }

  &-home {
    //background-color: $brand-primary;
    position: relative;
    display: inline-table;
    height: 70vh;
    min-height: 55vw;
    max-height: 70vh;
    width: 100%;

    @media (min-width: 1400px) {
      height: 65vh;
      min-height: 50vw;
      max-height: 65vh;
    }
  }

  span.hero-copy {
    display: table-cell;
    vertical-align: middle;
  }

  h1 {
    font-weight: 300;
    height: auto;
  }
}

.container-hero.container-fluid {
  padding: 0;
  margin: 0;
}

// THUMB PANEL VARIABLES
$stories-panel-height: 60vh;
$stories-panel-max-height: 60vw;
$difference-panel-height: 20vh;
$difference-panel-max-height: 20vw;
$panel-hover-offset: 1em;

// THUMB PANEL GROUP MASTER
.thumb-panel-group {
  position: relative;
  margin: 0;
  padding: 0;

  .panel-thumb  {
    height: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 0;

    &-inner {
      background-color: rgba($brand-primary, 1);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      transition: all 0.3s $cubic;
      overflow: hidden;

      span {
        margin: 0;
        padding: 0;
      }
    }

    .thumb-bkg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      z-index: -1;
      opacity: .5;
    }

    .thumb-upper, .thumb-lower {
      display: block;
      z-index: 1;
    }
  }
}

// THUMB PANEL GROUP STORIES
// This is for the three panels in the "stories" section tabs
.thumb-panel-group-stories {
  height: $stories-panel-height;
  max-height: $stories-panel-max-height;

  // "panel-thumb" for "thumb-panel-group-difference"
  .panel-thumb {

    &:hover {
      .panel-thumb-inner {
        height: calc(100% + #{$panel-hover-offset * 2});
        width: calc(100% + #{$panel-hover-offset * 2});
        top: -$panel-hover-offset;
        right: -$panel-hover-offset;
        bottom: -$panel-hover-offset;
        left: -$panel-hover-offset;
        border-radius: #{$panel-hover-offset * 0.25};
        box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.1);
        transition: all 0.5s $helium;
        z-index: 2;
      }
      .thumb-upper {
        height: ($stories-panel-height * 0.6);
        max-height: ($stories-panel-max-height * 0.6);
      }
      .thumb-lower {
        height: calc(#{($stories-panel-height * 0.4)} + #{$panel-hover-offset * 2});
        max-height: calc(#{($stories-panel-max-height * 0.4)} + #{$panel-hover-offset * 2});

        h6 {
          color: white;
          margin: (($stories-panel-height * 0.16) / 1.5) 0 1.5em;
        }
      }
    }

    .thumb-upper {
      width: 100%;
      height: ($stories-panel-height * 0.84);
      max-height: ($stories-panel-max-height * 0.84);
      display: inline-table;
      transition: all 0.4s $cubic;

      h2 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: 300;
        color: white;
        width: 100%;
        margin: 0;
        padding: 0 !important;
      }
    }

    .thumb-lower {
      position: absolute;
      bottom: 0;
      left: -10px;
      right: -10px;
      background-color: white;
      width: calc(100% + 20px);
      height: ($stories-panel-height * 0.16);
      max-height: ($stories-panel-max-height * 0.16);
      transition: all 0.4s $cubic;
      overflow: hidden;

      h6 {
        margin: (($stories-panel-height * 0.16) / 2.2) 0;
        transition: all 0.4s $cubic;
      }

      p, a {
        color: white;
      }
    }

    .thumb-lower .thumb-text-wrap {
      text-align: center;
      max-width: 25vw;
      margin: 0 auto;
    }

    &:hover {
      &:nth-child(1) {
        .thumb-lower {
          background-color: $brand-primary;
        }
      }
      &:nth-child(2) {
        .thumb-lower {
          background-color: $brand-pink;
        }
      }
      &:nth-child(3) {
        .thumb-lower {
          background-color: $brand-orange;
        }
      }
    }

    &:nth-child(1) {
      .panel-thumb-inner {
        background-color: rgba($brand-primary, 1);
      }
      h6 {
        color: $brand-primary;
      }
    }

    &:nth-child(2) {
      .panel-thumb-inner {
        background-color: rgba($brand-pink, 1);
      }
      h6 {
        color: $brand-pink;
      }
    }

    &:nth-child(3) {
      .panel-thumb-inner {
        background-color: rgba($brand-orange, 1);
      }
      h6 {
        color: $brand-orange;
      }
    }
  }
}

//This is for the two panels in the "Difference" section tabs
.thumb-panel-group-difference {
  height: $difference-panel-height;
  max-height: $difference-panel-max-height;

  // "panel-thumb" for "thumb-panel-group-difference"
  .panel-thumb {
    list-style: none;

    &:hover {
      polygon {
        transform: translateY(10px);
        transition: all 0.5s $helium;
      }
    }

    .panel-thumb-inner {
      background-color: white;
    }
    h6 {
      color: $gray-light;
    }
    h3 {
      color: $brand-primary;
    }
    svg {
      overflow: visible;
      margin-top: 0.75em;
    }
    polygon {
      fill: $gray-light !important;
      transition: all 0.3s $cubic;
      transform: translateY(0);
    }
    &.active {

      .panel-thumb-inner {
        background-color: $brand-primary;
        height: calc(100% + #{$panel-hover-offset * 2});
        width: calc(100% + #{$panel-hover-offset * 2});
        top: -$panel-hover-offset;
        right: -$panel-hover-offset;
        bottom: -$panel-hover-offset;
        left: -$panel-hover-offset;
        border-radius: #{$panel-hover-offset * 0.25};
        transition: all 0.5s $helium;
        box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.1);
        z-index: 1;
      }
      h6, h3 {
        color: white;
      }
      polygon {
        fill: white !important;
        transform: translateY(10px);
      }
    }

    &:active {
      polygon {
        transform: translateY(12px);
        transition: all 0.2s $helium;
      }
    }
  }

  .thumb-text-center {
    width: 100%;
    height: 100%;
    display: inline-table;
    position: relative;
    transition: all 0.4s $cubic;
    z-index: 3;

    span {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      overflow: visible;
      h6, h3 {

      }
    }
  }
}
