<footer class="footer m-t-lg">
  <div class="container">
    <div class="row">

      <!-- PAYOFF BRANDED -->
      <ul class="col-xs-12 col-sm-4 col-md-2 col-lg-2 foot-col">
        <a class="navbar-brand " href="{{ site.baseurl }}/">
          <img src="{{ site.baseurl }}/assets/logo-type-g.svg" alt="{{ site.title }}" />
        </a>
      </ul>

      <!-- WHY IT MATTERS COLUMN -->
       <ul class="col-xs-6 col-sm-4 col-md-2 col-lg-2 foot-col">
          <li>
            <h4 class=""><a href="/payoff-products/">Why It Matters</a></h4>
          </li>
          {% for weight in (1..10) %}
            {% for p in site.pages %}
              {% if p.parent == 'why-it-matters' %}
                {% if p.weight == weight %}
                <li>
                  <a href="{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          <li>
            <a href="#">Life</a>
          </li>
        </ul>

      <!-- PAYOFF PRODUCTS COLUMN -->
        <ul class="col-xs-6 col-sm-4 col-md-2 col-lg-2 foot-col">
          <li>
            <h4><a href="/payoff-products/">Payoff Products</a></h4>
          </li>
          {% for weight in (1..10) %}
            {% for p in site.pages %}
              {% if p.parent == 'payoff-products' %}
                {% if p.weight == weight %}
                <li>
                  <a href="{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>

      <!-- COMPANY COLUMN -->
        <ul class="col-xs-6 col-sm-4 col-md-2 col-lg-2 foot-col">
          <li>
            <h4 ><a href="/company/">Company</a></h4>
          </li>
          {% for weight in (1..10) %}
            {% for p in site.pages %}
              {% if p.parent == 'company' %}
                {% if p.weight == weight %}
                <li>
                  <a href="{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>

      <!-- SUPPORT COLUMN -->
       <ul class="col-xs-6 col-sm-4 col-md-2 col-lg-2 foot-col">
          <li>
            <h4 class=""><a href="/support/">Support</a></h4>
          </li>
          {% for weight in (1..10) %}
            {% for p in site.pages %}
              {% if p.parent == 'support' %}
                {% if p.weight == weight %}
                <li>
                  <a href="{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
          <li>
            <a href="#">Talk Now</a>
          </li>
        </ul>

      <!-- LEGAL COLUMN -->
       <ul class="col-xs-6 col-sm-4 col-md-2 col-lg-2 foot-col">
          <li>
            <h4 class=""><a href="/legal/">Legal</a></h4>
          </li>
          {% for weight in (1..10) %}
            {% for p in site.pages %}
              {% if p.parent == 'legal' %}
                {% if p.weight == weight %}
                <li>
                  <a href="{{ p.url }}">{{ p.title }}</a>
                </li>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>


    </div><!-- / ROW -->
    <div class="row foot-lower">

      <div class="col-sm-12 col-md-10 col-md-offset-2">
        <img class="trust" src="{{ site.baseurl }}/assets/trust.png" alt="trust" />
        <p class="fine-print">
          Payoff works with a bank partner to ultimately originate loans. First Electronic Bank issues all loans made using the Payoff Platform. First Electronic Bank is an FDIC insured Utah-chartered industrial bank located in Salt Lake City, Utah, Member FDIC and Equal Housing Lender. Individual borrowers must be a US citizen or permanent resident and at least 18 years old. Valid bank account and social security number are required. All loans are subject to credit review and approval. Your actual rate depends upon credit score, loan amount, loan term, credit usage and history. You must be a US citizen or permanent resident and at least 18 years old. Currently loans are not offered in: AL, AZ, CO, CT, DE, IL, IN, IA, KS, LA, ME, MA, MN, NH, NJ, NY, PA, SD, VT, TX, WI, and WY. Our mailing address is: Payoff, Inc., 3200 Park Center Drive, STE 800, Costa Mesa, CA 92626.
        </p>
        <p class="fine-print">
          © Copyright 2009-2015. Payoff Inc. All rights reserved.
        </p>
      </div>

    </div><!-- / ROW -->
  </div>
</footer>
