<nav  class="navbar navbar-naked navbar-fixed-top bg-faded" >
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-open" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/assets/logo-full-color.png" alt="{{ site.title }}" />
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-right" id="nav-open">

      <ul class="nav navbar-nav">

        {% comment %}
          Pages ordered in nav by weight number in front-matter
          Ordered left to right starting with "1"
        {% endcomment %}

        {% for weight in (1..10) %}
          {% for p in site.pages %}
            {% if p.parent == 'index' %}
              {% if p.weight == weight %}
              <li class="nav-item{% if p.url == page.url %} active{% endif %}">
                <a class="nav-link" href="{{ p.url }}">{{ p.title }}</a>
              </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>

      <ul class="nav navbar-nav">
        <li class="nav-item"><button type="button" class="btn btn-primary navbar-btn">Apply Now</button></li>
        <li class="nav-item"><button type="button" class="btn btn-default navbar-btn">Log In</button></li>
      </ul>

    </div>

  </div>
</nav>
