<nav  class="navbar navbar-light">
  <div class="container">

    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/logo-type-b.svg" alt="{{ site.title }}" />
    </a>

    <ul class="nav nav-pills pull-right">
    {% comment %}
      Pages ordered in nav by weight number in front-matter
      Ordered left to right starting with "1"
    {% endcomment %}
    {% for weight in (1..10) %}
      {% for p in site.pages %}
        {% if p.weight == weight %}
        <li class="nav-item{% if p.url == page.url %} active{% endif %}">
          <a class="nav-link" href="{{ p.url }}">{{ p.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <li class="nav-item">
      <button class="btn btn-primary" type="signin">Sign In</button>
    </li>
    </ul>

  </div>
</nav>
