{% if page.parent == "payoff-products" %}

	<div class="page-nav-outer col-sm-11 col-sm-offset-1 nav-down" id="pagenav">
		<div class="page-nav-inner">

			<ul class="nav navbar-nav page-nav-list">

				<li class="nav-item">
					<h4>{{ page.title }}</h4>
				</li>

				{% for item in page.sections %}
					<li class="nav-item">
						<a class="nav-link" href="#{{ item | downcase | replace:' ','-' | remove:'&' }}">{{ item }}</a>
					</li>
				{% endfor %}

			</ul>

			<ul class="nav navbar-nav navbar-btn-group navbar-right">
				<li class="nav-item"><button type="button" class="btn btn-action navbar-btn">Apply Now</button></li>
			</ul>

		</div>
	</div>

{% endif %}
