
{% if page.subnav == "company" %}

	<ul class="nav nav-tabs m-b-md">
    {% for weight in (1..10) %}
      {% for p in site.pages %}
      	{% if p.parent == 'company' %}
	        {% if p.weight == weight %}
	        <li role="presentation" {% if p.url == page.url %}class="active"{% endif %}>
	          <a class="nav-link {% if p.url == page.url %} active{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
	        </li>
	        {% endif %}
      	{% endif %}
      {% endfor %}
    {% endfor %}
	</ul>

{% elsif page.subnav == "payoff-products" %}

	<ul class="nav nav-tabs m-b-md">
		{% for weight in (1..10) %}
			{% for p in site.pages %}
				{% if p.parent == 'payoff-products' %}
					{% if p.weight == weight %}
					<li role="presentation" {% if p.url == page.url %}class="active"{% endif %}>
	          <a class="nav-link {% if p.url == page.url %} active{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
	        </li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>

{% elsif page.subnav == "why-it-matters" %}

	<ul class="nav nav-tabs m-b-md">
		{% for weight in (1..10) %}
			{% for p in site.pages %}
				{% if p.parent == 'why-it-matters' %}
					{% if p.weight == weight %}
					<li role="presentation" {% if p.url == page.url %}class="active"{% endif %}>
	          <a class="nav-link {% if p.url == page.url %} active{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
	        </li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>

{% elsif page.subnav == "support" %}

	<ul class="nav nav-tabs m-b-md">
		{% for weight in (1..10) %}
			{% for p in site.pages %}
				{% if p.parent == 'support' %}
					{% if p.weight == weight %}
					<li role="presentation" {% if p.url == page.url %}class="active"{% endif %}>
	          <a class="nav-link {% if p.url == page.url %} active{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
	        </li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
		<li role="presentation" {% if p.url == page.url %}class="active"{% endif %}>
			<a class="nav-link {% if p.url == page.url %} active{% endif %}" href="{{ p.url }}">Talk now</a>
		</li>
	</ul>

{% elsif page.subnav == "legal" %}

	<ul class="nav nav-tabs m-b-md">
		{% for weight in (1..10) %}
			{% for p in site.pages %}
				{% if p.parent == 'legal' %}
					{% if p.weight == weight %}
					<li role="presentation" {% if p.url == page.url %}class="active"{% endif %}>
	          <a class="nav-link {% if p.url == page.url %} active{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
	        </li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>

{% elsif page.subnav == "loan" %}

	<ul class="nav nav-tabs m-b-md">
		{% for weight in (1..10) %}
			{% for p in site.pages %}
				{% if p.parent == 'loan' %}
					{% if p.weight == weight %}
					<li role="presentation" {% if p.url == page.url %}class="active"{% endif %}>
	          <a class="nav-link {% if p.url == page.url %} active{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
	        </li>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endfor %}
	</ul>

{% endif %}
